extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="loginExempel/", method="post")
    input#usernametype="text", name="username")
    input#password(type="password", name="password")
    button(type="submit") Login
