extends layout 

block content 

  h1 Welcome back user.

  form(action="/logout", method="post")
    button(type="submit") Logout
  
  form(action="/edit", method="post")  
    button(type="submit") Change password